nav ul li {
  background-color: #CFCFF5;
  display: inline;
}

footer{
  color: #E2CFF5;
  text-align: center
}

h1{
  color:#6E248F;
  text-align:center;
}

body img{
  width:25%;
  opacity: 1;
}

nav ul li a{
 text-decoration:none;
 margin: 30px;
 padding :20px;
 }

#pi {
  background-color: #a799b7;
}


